<% @title = "Non satisfait.e de la réponse obtenue ?" %>


<% if @info_request %>
  <h1>Non satisfait.e de la réponse obtenue à '<%=request_link(@info_request) %>'?
  </h1>
<% else %>
  <h1>Non satisfait.e de la réponse obtenue ?</h1>
<% end %>

<p>Si vous n'avez pas reçu de réponse dans les 30 jours vous pouvez : </p>

<ul>
  <li>saisir la Commission d'Accès aux Documents Administratifs (CADA) afin qu'elle remette un avis.</li>
</ul>

<p>Si l'autorité a refusé la communication des documents demandés à plusieurs reprises, ou vous a communiqué une version incomplète des documents demandés, vous pouvez : </p>

<ol>
  <li>Effectuer un <strong><a href="#internal_review">recours</a></strong>auprès de l'autorité concernée. </li>
  <li>Si cela n'aide pas vous pouvez <a href="#complaining">saisir la <strong>CADA</strong></a></li>
  <li><a href="https://madada.fr/selectionner_autorite" class="hover_a">faire une nouvelle requête</a> en demandant des informations plus spécifiques ou plus précises ou en l'adressant à une autorité différente</li>
  <li>ou utiliser <a href="#other_means">d'autres moyens</a> pour formuler votre demande</li>
</ol>

<h1 id="internal_review">1. Effectuer un recours <a class="hover_a" href="#internal_review">#</a> </h1>

<p>
  <% if @info_request %>
    <%= link_to "Effectuer un recours", new_request_followup_path(:request_id => @info_request.id) + "?internal_review=1#followup", :class => 'link_button_green request-internal-review-action' %> et écrire un message demandant à l'autorité de reconsidérer sa réponse à votre demande.
  <% else %>
  Au bas de la page de demande associée sur <%= site_name %> choisissez "demander un recours". 
  Ensuite écrivez un message demandant une reconsidération interne de la réponse négative qui vous a été adressée. 
  Vous souhaiterez éventuellement inclure un lien vers la page de la demande, afin d'indiquer clairement la référence 
  de la demande à laquelle vous faites référence.  
  <% end %>
</p>

<p>Les procédures de recours interne doivent être rapides. 
Si cela prend plus de 20 jours ouvrés, l'autorité devrait alors vous en informer. 
Dans tous les cas cela ne doit pas prendre plus de 40 jours ouvrés.
Vous pourrez alors obtenir l'information que vous aviez demandé initialement, ou le refus d'accès vous sera confirmé. 
</p>

<h1 id="complaining">2. Saisir la CADA <a class="hover_a" href="#complaining">#</a> </h1>

<p>Si vous êtes toujours mécontent.e après que l'autorité publique ait ré-examiné votre requête,
  vous pouvez décider de saisir la Commission d'accès aux documents administratifs. Pour ce faire consulter la page de la FAQ dédiée à <a href="https://dada.fr/aide/cada">cette procédure</a>
  sur le site de la CADA.
</p>

<p>Afin de simplifier l'envoi des informations appropriées à la CADA vous pouvez soit
  <% if @info_request %>
    inclure un lien vers votre demande
    <strong><%=h request_url(@info_request) %></strong>
  <% else %>
    ou inclure un lien vers votre demande sur <%= site_name %>
<% end %>
dans votre saisine.
</p>

<p><%= site_name %> n'a pas de fonctionnalité spéciale pour prendre en charge votre demander à ce stade - elle passe 
dans le système de gestion de la CADA. Toutedfois vous pouvez laisser des commentaires dans la page de votre requête initiale afin 
de tenir informé le public de l'avancement de votre démarche.</p>

<p>Une remarque. Bien que la CADA soit tenue de répondre dans des délais réglementaires (2 mois), actuellement cela peut prendre jusqu'à 6 mois avant 
d'obtenir une réponse. Parallèlement vous pouvez essayer d'obtenir l'information par <strong>d'autres moyens</strong></p>

<h1 id="other_means">3. Utiliser d'autres moyens pour poser votre question <a class="hover_a" href="#other_means">#</a> </h1>

<p>Vous pouvez essayer de poursuivre votre demande d'accès ou votre recherche par d'autres moyens. </p>

<ul>
  <li>Faire une autre demande d'accès à l'information sous une forme résumée, 
  ou pour de la documentation reliée indirectement à votre demande initiale. 
  Demandez nous des idées si vous êtes bloqué.</li>

  <li>Si n'importe qu'elle autorité publique ou agence exerçant une mission de service public est impliquée, 
  formulez des demandes d'accès auprès d'elles.</li>

  <li>Écrivez à votre député ou tout autre politicien et demandez leur de vous aidez à obtenir une réponse. 
  Les députés peuvent être directement aux ministres ou directions et peuvent poser des question à l'assemblée. 
  Les conseilleurs départementaux, régionaux ou municipaux puvent parler directement aux présidents de leurs assemblées locales.</li>

  <li>Essayez de demander l'information en passant par l'Union européenne. 
  Chacun des  500 million de personne viviant dans l'Union européenne (à la fois les citoyens et les résidents) a le droit juridiquement garanti de demander des informations aux autorités européennes. 
  <a href="https://www.asktheeu.org/" target="_blank" class="hover_a">AskTheEU.org</a> est une version de ce site dédiée à l'Union européenne.</li>
  
  <li>Demandez à d'autres dadaïstes qui sont intéressés à des thèmes identiques ou similaires des idées. 
  Vous pouvez parfois les trouver en navigant dans les demandes existantes ; 
  contactez n'importe quel utilisateur enregistré depuis leur page de profil. 
  Ils vous dirigeront peut-être vers un forum Internet où ils partagent des idées. </li>
</ul>